.body{
    font-family: 'Vollkorn' ,sans-serif;
    position: relative;
}
video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    z-index: -100;
}

@media (max-device-width:768px){
    body{
        background: url(https://static.pexels.com/photos/9149/pexels-photo.jpeg) center center fixed;
        background-size: cover;
    }
    #bgvideo{
        display: none;   
    }
}
